body {
  margin: 0;
  overflow: hidden;
}

#root {
  position: relative;
  width: 256px;
  height: 224px;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  image-rendering: pixelated;
}
